@model RealEstate.Models.Login
@{
	ViewBag.Title = "Login";
	Layout = null;
}

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Untree.co" />
	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />
	<title>Log In</title>
	<link rel="shortcut icon" href="~/HomeAssets/favicon.png" />
	<link rel="preconnect" href="~/HomeAssets/https://fonts.googleapis.com" />
	<link rel="preconnect" href="~/HomeAssets/https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
		  rel="stylesheet" />
	<link rel="stylesheet" href="~/HomeAssets/fonts/icomoon/style.css" />
	<link rel="stylesheet" href="~/HomeAssets/fonts/flaticon/font/flaticon.css" />
	<link rel="stylesheet" href="~/HomeAssets/css/tiny-slider.css" />
	<link rel="stylesheet" href="~/HomeAssets/css/style.css" />
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body class="bg-info">

<div class="section mt-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
				<div class="card border-0 shadow">
					<div class="card-header bg-primary">
						<div class="card-title"><h3 class="h3 text-white">Log In</h3></div>
					</div>
					<div class="card-body p-5">
						@using (Html.BeginForm(FormMethod.Post))
						{
							@Html.ValidationSummary(true);
							@Html.LabelFor(m => m.UserName)
							@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })<br />

							@Html.LabelFor(m => m.Password)
							@Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })<br /><br />

							<input type="submit" class="form-control btn-outline-success h3 border-2" value="LOGIN" />
						}
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</div>

</body>
</html>